@import "tailwindcss";
/* Tailwind v4 automatically includes reset & utilities */

/* Custom global overrides */
html, body {
  background: white;
  color: #111827; /* slate-900 hex */
}

p {
  color: #475569; /* slate-600 */
}
